<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="dbString" connectionString="Server=(localdb)\FlashcardsDB;Integrated Security=true"/>
	</connectionStrings>
	<appSettings>
		<add key="stacksTableName" value="Stacks"/>
		<add key="cardsTableName" value="Flashcards"/>
	</appSettings>
</configuration> 

