<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="dbString" connectionString="Server=(localdb)\MSSQLLocalDB;Integrated Security=true"/>
	</connectionStrings>
	<appSettings>
		<add key="dbName" value="afilipkowski_flashcards"/>
	</appSettings>
</configuration> 

